name: Build and publish myapp

on: 
  push:
    branches:
      - main

jobs:


  build:
    
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Build image
        run: |
          echo "Building with tag: ${{ needs.release_env.outputs.image_tag }}"
          docker build -t eugene513/kube-image .
          docker images

  publish:
    needs: [build]
    runs-on: ubuntu-latest

    steps:

      - name: Login to the registry
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Publish image
        run: |
          docker push eugene513/kube-image
