name: my-first-CICD

on:
  push:
    branches:
      - master
jobs:
  my_testing:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - name: script
      run: echo Hello, world!
