name: Build and publish myapp

on: 
  push:
    branches:
      - main

jobs:


  build:
    
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Build image
        run: |
          echo "Building with tag: ${{ needs.release_env.outputs.image_tag }}"
          docker build -t eugene513/kube-image:${{ github.sha }} -f Dockerfile .
          docker images
          echo ${{ github.sha }}

  publish:
    needs: [build]
    runs-on: ubuntu-latest

    steps:


      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            --username "${{ vars.DOCKER_USERNAME }}" \
            --password-stdin

      - name: Publish image
        run: |
          docker push eugene513/kube-image:${{ github.sha }}
